<header style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #f4f4f4;">
    <!-- <div>
      <h2>My Blog App</h2>
    </div> -->
    <nav>
      <form action="/logout" method="GET" style="display: inline;">
        <button class="button" type="submit">Logout</button>
      </form>
    </nav>
  </header>
  <hr>